main {
  width: 95%;
  height: 480px;

  background-color: var(--gray-white);

  margin: auto auto;
  border-radius: 15px;
  box-shadow: var(--contents-shadows);

  overflow-y: scroll;
  overflow-x: hidden;

  transition: 0.3s;
}

main:hover {
  filter: brightness(0.93);
  transition: 0.3s;
}
