footer {
  width: 50%;
  height: 40px;

  margin: 10px auto;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--gray-c);

  .footerText {
    font-weight: 500;
    font-size: 1.15rem;
  }
}
